<configuration>

	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>hotel_booking.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="fileAppender" />
	</root>

	<logger name="com.application" level="debug" />
	<logger name="org.springframework" level="info" />

</configuration>
