<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title th:text="#{title.account}" />
</head>
<body style="background-color: #73D89F">
<div th:insert="~{fragments/navbar ::navbar}"/>

<div class="container" style="width: 28rem; padding-top: 3em; justify-content: center;">
    <form th:class="list-group-item" th:action="@{/hotelbooking/account/change-password}" th:object="${credentials}" method="POST">
        <h1 class = "text-center" th:text="#{account.form.header.change.password}"/>
        <div th:if="${param.error}" class="alert alert-danger" th:text="#{account.form.error}"/>
        <div th:if="${param.invalidUserError}" class="alert alert-danger" th:text="#{account.form.invalid.user.error}"/>
        <div th:if="${param.success}" class="alert alert-success"  th:text="#{account.form.success}"/>

        <label for="oldPassword" th:text="#{account.form.label.old.password}"/>
        <input type = "password" name = "oldPassword" id = "oldPassword" th:field = "*{oldPassword}" class = "form-control"/>
        <p  th:if="${#fields.hasErrors('oldPassword')}" th:class="${#fields.hasErrors('oldPassword')}? error" th:errors="*{oldPassword}" style="color: red;"/>

        <label  for="newPassword" th:text="#{account.form.label.new.password}"/>
        <input type = "password" name = "newPassword" id = "newPassword" th:field = "*{newPassword}" class = "form-control"/>
        <p  th:if="${#fields.hasErrors('newPassword')}" th:class="${#fields.hasErrors('newPassword')}? error" th:errors="*{newPassword}" style="color: red;"/>

        <div class="row justify-content-center" style="padding: 1.5em;">
            <button type="submit" class = "btn btn-primary" style="font-size: 1.8rem;" th:text="#{account.form.button.submit}"/>
        </div>
    </form>
</div>

</body>
</html>