<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title th:text="#{title.homepage}" />
</head>
<body style="background-color: #73D89F">
<div th:insert="fragments/navbar ::navbar"/>

<div class="container" style="width: 56rem; padding-top: 3em; justify-content: center; background-color:grey;">
    <form th:action="@{search-rooms}" th:object="${roomSearchFormDTO}" method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="singleBeds" th:text="#{home.room.form.singlebeds}"/>
                <input type="number" th:field="*{singleBeds}" id="singleBeds" name="singleBeds"/>
                <p th:if="${#fields.hasErrors('singleBeds')}" th:class="${#fields.hasErrors('singleBeds')}? error" th:errors="*{singleBeds}" style="color: red;"></p>
            </div>
            <div class="form-group col-md-3">
                <label for="doubleBeds" th:text="#{home.room.form.doublebeds}"/>
                <input type="number" th:field="*{doubleBeds}" id="doubleBeds" name="doubleBeds">
                <p th:if="${#fields.hasErrors('doubleBeds')}" th:class="${#fields.hasErrors('doubleBeds')}? error" th:errors="*{doubleBeds}" style="color: red;"></p>
            </div>
            <div class="form-group col-md-3">
                <label for="roomType" th:text="#{home.room.form.roomtype}"/>
                <!--                Instead of text make this a dropdown with the list of room types available-->
                <input type="text" th:field="*{roomType}" id="roomType" name="roomType">
                <p th:if="${#fields.hasErrors('roomType')}" th:class="${#fields.hasErrors('roomType')}? error" th:text="#{admin.room.validation.invalid.roomtype}" style="color: red;"></p>
            </div>
            <div class="form-group col-md-3">
                <label for="city" th:text="#{home.room.form.city}"/>
<!--                Instead of text make this a dropdown with the list of cities associated with hotels-->
                <input type="text" th:field="*{city}" id="city" name="city">
                <p th:if="${#fields.hasErrors('city')}" th:class="${#fields.hasErrors('city')}? error" th:errors="*{city}" style="color: red;"></p>
            </div>
            <div class="form-group col-md-3">
                <label for="city" th:text="#{home.room.form.hotelname}"/>
                <!--                Instead of text make this a dropdown with the list of cities associated with hotels-->
                <input type="text" th:field="*{hotelName}" id="hotelName" name="hotelName">
                <p th:if="${#fields.hasErrors('hotelName')}" th:class="${#fields.hasErrors('hotelName')}? error" th:errors="*{hotelName}" style="color: red;"></p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3" >
                <label for="startDate" th:text="#{home.room.form.startdate}"/>
                <input class="form-control" id="startDate" type="date" th:field="*{startDate}" name="startDate"/>
                <p th:if="${#fields.hasErrors('startDate')}" th:class="${#fields.hasErrors('startDate')}? error" th:text="#{admin.room.validation.invalid.roomtype}" style="color: red;"></p>

            </div>
            <div class="form-group col-md-3" >
                <label for="endDate" th:text="#{home.room.form.enddate}"/>
                <input class="form-control" id="endDate" type="date" th:field="*{endDate}" name="endDate"/>
                <p th:if="${#fields.hasErrors('endDate')}" th:class="${#fields.hasErrors('endDate')}? error" th:text="#{admin.room.validation.invalid.roomtype}" style="color: red;"></p>

            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search rooms</button>
    </form>

</div>

<div class="container " style="justify-content: center; border-style: solid; border-color: dimgray;">
    <ul style="list-style-type: none; padding-left: 0px;">
        <li th:each="resultDTO, iterStat : ${session.resultDTOS}" class="row justify-content-center" style="margin: 1.5em;">
            <div class="col-md-12" style="border-style: solid; border-color: dimgray; background-color: lightgray;">
                <a th:href="@{reserveroom(index=${iterStat.index})}" th:text="${resultDTO}" style="color: black;"/>
            </div>
        </li>
    </ul>
</div>

</body>
</html>