<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title th:text="#{title.homepage}" />
    <style>
        .dropdown-content {
            display: none;
        }
        .dropdown:hover .dropdown-content {
            display: block;
            cursor: pointer;
        }

        .image-box {
            width: 300px;
            height: 200px;
            overflow: hidden;
            position: relative;
        }

        .scaled-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body style="background-color: #73D89F">
<div th:insert="~{fragments/navbar ::navbar}"/>

<div class="container" style="width: 56rem; padding-top: 1.5em; margin-top: 1.5em; border-radius: 20px;  justify-content: center; background-color:Gainsboro;">
    <div th:if="${param.reservationError}" class="alert alert-danger" th:text="#{home.reservation.error}"/>
    <form th:action="@{/hotelbooking/home/search-rooms}" th:object="${roomSearchFormDTO}" method="post">
        <div class="form-row" style="justify-content: center;">
            <div class="form-group col-md-3" style="margin: 0em .5em;">
                <label for="singleBeds" th:text="#{home.room.form.singlebeds}"/>
                <input type="number" th:field="*{singleBeds}" id="singleBeds" name="singleBeds" class="form-control"/>
                <p th:if="${#fields.hasErrors('singleBeds')}" th:class="${#fields.hasErrors('singleBeds')}? error" th:errors="*{singleBeds}" style="color: red;"></p>
            </div>
            <div class="form-group col-md-3" style="margin: 0em .5em;">
                <label for="doubleBeds" th:text="#{home.room.form.doublebeds}"/>
                <input type="number" th:field="*{doubleBeds}" id="doubleBeds" name="doubleBeds" class="form-control">
                <p th:if="${#fields.hasErrors('doubleBeds')}" th:class="${#fields.hasErrors('doubleBeds')}? error" th:errors="*{doubleBeds}" style="color: red;"></p>
            </div>
            <div class="form-group col-md-3" style="margin: 0em .5em;">
                <label for="roomType" th:text="#{home.room.form.roomtype}"/>
                <select th:field="*{roomType}" class="form-control" id="roomType">
                    <option value="" th:text="#{home.dropdown.select.roomtype}"/>
                    <option th:each="roomType : ${session.roomTypes}" th:value="${roomType}" th:insert="~{fragments/roomtypenames ::roomtypenames(roomType)}"/>
                </select>
                <p th:if="${#fields.hasErrors('roomType')}" th:class="${#fields.hasErrors('roomType')}? error" th:text="#{home.room.form.validation.invalid.roomtype}" style="color: red;"></p>
            </div>
        </div>
        <div class="form-row" style="justify-content: center;">
            <div class="form-group col-md-3" style="margin: 0em .5em;">
                <label for="city" th:text="#{home.room.form.city}"/>
                <select th:field="*{city}" class="form-control" id="city">
                    <option value="" th:text="#{home.dropdown.select.city}"/>
                    <option th:each="city : ${session.cities}" th:value="${city}" th:text="${city}"/>
                </select>
                <p th:if="${#fields.hasErrors('city')}" th:class="${#fields.hasErrors('city')}? error" th:text="#{home.room.form.validation.invalid.city}" style="color: red;"></p>
            </div>
            <div class="form-group col-md-3" style="margin: 0em .5em;">
                <label for="hotelName" th:text="#{home.room.form.hotelname}"/>
                <select th:field="*{hotelName}" class="form-control" id="hotelName">
                    <option value="" th:text="#{home.dropdown.select.hotel}"/>
                    <option th:each="hotel : ${session.hotels}" th:value="${hotel.hotelName}" th:text="${hotel.hotelName}"/>
                </select>
                <p th:if="${#fields.hasErrors('hotelName')}" th:class="${#fields.hasErrors('hotelName')}? error" th:text="#{home.room.form.validation.invalid.hotel}" style="color: red;"></p>
            </div>
        </div>
        <div class="form-row" style="justify-content: center;">
            <div class="form-group col-md-3" style="margin: 0em .5em;">
                <label for="startDate" th:text="#{home.room.form.startdate}"/>
                <input class="form-control" id="startDate" type="date" th:field="*{startDate}" name="startDate"/>
                <p th:if="${#fields.hasErrors('startDate')}" th:class="${#fields.hasErrors('startDate')}? error" th:errors="*{startDate}" style="color: red;"></p>
            </div>
            <div class="form-group col-md-3" style="margin: 0em .5em;">
                <label for="endDate" th:text="#{home.room.form.enddate}"/>
                <input class="form-control" id="endDate" type="date" th:field="*{endDate}" name="endDate"/>
                <p th:if="${#fields.hasErrors('endDate')}" th:class="${#fields.hasErrors('endDate')}? error" th:errors="*{endDate}" style="color: red;"></p>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <button type="submit" th:text="#{home.room.form.search.rooms}" class="btn btn-primary" style="font-size: 2em; background-color: #FADA5E; color: #333333; border: none; margin: 1em 0em;"/>
        </div>
    </form>
</div>

<div th:if="${session.noMatchingResults}" th:text="#{home.room.form.no.results}" style="font-size: 2em; color: FireBrick; justify-content: center; text-align: center; border-radius: 20px; background-color: LightSalmon; margin: 1em 4em; padding: .5em;" />

<div class="container " style="justify-content: center; border-radius: 20px; background-color: Gainsboro; margin-top: 1.5em;">
    <ul style="list-style-type: none; justify-content: center; padding: 1.5em 2em;">
        <li th:each="hotelsRoomsResultDTO, iterStat : ${session.hotelsRoomsResultDTOs}" class="dropdown row justify-content-center" th:style="${iterStat.last ? '' : 'margin-bottom: 20px;'}">
            <div style="display: flex; border-radius: 15px; overflow: hidden; width: 100%;">
                <div class="image-box">
                    <img th:src="@{/images/__${hotelsRoomsResultDTO.imageName}__}" class="scaled-image">
                </div>
                <div style="background-color:whitesmoke; flex: 1; padding-left: 20px;">
                    <p th:text="${hotelsRoomsResultDTO.hotelName}" style="font-size: 2em"></p>
                    <p th:text="${hotelsRoomsResultDTO.city}" style="font-size: 1.8em"></p>
                    <p th:text="#{home.room.form.average.rating} + ': ' + ${hotelsRoomsResultDTO.averageRating} + '&#11088;'" style="font-size: 1.6em"></p>
                </div>
            </div>
            <div class="dropdown-content" style="margin: .5em; width: 90%">
                <ul style="list-style-type: none; padding-left: 0px;">
                    <li th:each="uniqueReservableRoomOfHotelDTO : ${hotelsRoomsResultDTO.uniqueReservableRoomOfHotelDTOList}">
                        <a th:href="@{/hotelbooking/reserve-room(hotelName=${hotelsRoomsResultDTO.hotelName}, number=${uniqueReservableRoomOfHotelDTO.number})}" style="text-decoration: none; color: inherit;">
                            <div class="col-md-12" style="margin-bottom: .5em; border-radius: 15px; background-color: cornsilk; font-size: 1.8em">
                                <div style="text-align: center;">
                                    <span th:insert="~{fragments/roomtypenames ::roomtypenames(${uniqueReservableRoomOfHotelDTO.roomType})}"></span>
                                </div>
                                <div style="display: flex; border-radius: 15px; overflow: hidden; margin-top: 1.5em; padding: 0em 1.5em;; width: 100%;">
                                    <div>
                                        <p th:text="#{home.room.form.singlebeds} + ': ' + ${uniqueReservableRoomOfHotelDTO.singleBeds}"></p>
                                        <p th:text="#{home.room.form.doublebeds} + ': ' + ${uniqueReservableRoomOfHotelDTO.doubleBeds}"></p>
                                    </div>
                                    <div style="flex: 1; padding-left: 20px; text-align: right; justify-content: center; margin-top: 2em;">
                                        <p th:text="#{home.room.form.totalprice} + ': ' + ${uniqueReservableRoomOfHotelDTO.totalPrice} + ' HUF'" ></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
</body>
</html>