<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title th:text="#{title.myreservations}" />
</head>
<body style="background-color: #73D89F">
<div th:insert="~{fragments/navbar ::navbar}"/>

<div class ="container">
    <div class = "row justify-content-center">
        <h1 th:text="#{myreservations.myReservations}"/>
    </div>
    <div th:if="${param.error}" class="alert alert-danger"  th:text="#{myreservations.failedToCancel}"/>
    <div th:if="${param.reservationSuccess}" class="alert alert-success" th:text="#{myreservations.reservationSuccess}"/>
<table class = "table table-striped table-bordered text-center">
    <thead class = "table-dark">
    <tr>
        <th th:text="#{reservation.roomType}"/>
        <th th:text="#{reservation.hotelName}"/>
        <th th:text="#{reservation.city}"/>
        <th th:text="#{reservation.roomNumber}"/>
        <th th:text="#{reservation.startDate}"/>
        <th th:text="#{reservation.endDate}"/>
        <th th:text="#{reservation.totalPrice}"/>
        <th th:text="#{myreservations.button.cancel}"/>
    </tr>
    </thead>
    <div class="text-center">
    <tbody>
    <tr th:if="${reservations.empty}">
        <td colspan="8" th:text="#{myreservations.noReservationsYet}"/>
    </tr>
    <tr th:each="reservation : ${reservations}">
        <td th:insert="~{fragments/roomtypenames ::roomtypenames(${reservation.room.roomType})}" hidden="true"></td>
        <td><span th:text="${reservation.room.hotel.hotelName}"> </span></td>
        <td><span th:text="${reservation.room.hotel.city}"> </span></td>
        <td><span th:text="${reservation.room.roomNumber}"> </span></td>
        <td><span th:text="${reservation.startDate}"> </span></td>
        <td><span th:text="${reservation.endDate}"> </span></td>
        <td><span th:text="${reservation.totalPrice} + ' HUF'"> </span></td>
        <td><form th:action="@{cancel-reservation}" method="post"><button class="btn btn-danger" th:value="${reservation.id}" th:name="reservationId" th:text="#{myreservations.button.cancel}" /> </form></td>
    </tr>
    </tbody>
    </div>
</table>

</div>


</body>
</html>