<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a th:href="@{?lang=en}">English</a>
    <a th:href="@{?lang=hu}">Magyar</a>
    <span th:text="#{lang.change}"></span>:
    <select th:action="@{/hotelbooking/home}" id="locales">
        <a th:href="@{?lang=en}" th:text="#{lang.eng}"></a>
        <a th:href="@{?lang=en}" th:text="#{lang.eng}"></a>
        <option value="" th:href="@{?lang=en}" th:text="#{lang.eng}"></option>
        <option value="en"  ><a th:href="@{?lang=en}" th:text="#{lang.eng}"></a></option>
        <option value="hu" th:text="#{lang.hun}" ><a th:href="@{?lang=hu}"></a></option>
    </select>
    <h1 th:text="#{greeting}"></h1>
</nav>

<form action="select-room-type">
    <input type="hidden"  th:value="familyRoom" th:name="roomType">
    <button type="submit" value="Rooms">Select family rooms</button>
</form>

<form action="select-room-type">
    <input type="hidden"  th:value="singleRoom" th:name="roomType">
    <button type="submit" value="Rooms">Select single rooms</button>
</form>

<form action="clear-reservations">
    <button type="submit" value="Rooms">Clear reservations</button>
</form>

<div>First, clear all reservations of the currently logged-in user. Then delete it from the database. The application context wills till remember the user even if it is removed from the database.</div>
<form action="delete-current-user">
    <button type="submit" value="Rooms">delete-current-user</button>
</form>

</body>
</html>